# Dependencies
node_modules/
/frontend/node_modules/
/frontend/dist/

# Python Virtual Environment
venv/
.venv/
__pycache__/
*.pyc
/backend/venv/
/backend/.venv/
/backend/__pycache__/

# Environments
.env
.env.local
.env.development
.env.test
.env.production
/frontend/.env
/backend/.env

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Root-level package files (created by dev tooling)
/package.json
/package-lock.json
/env
